/* Example styling for the product form */
.product-form-container {
    width: 80%;
    margin: auto;
    padding: 10px;
  }
  
  .product-form {
    display: flex;
    color: white;
    flex-direction: column;
  }
  
  .product-form input,
  .product-form textarea,
  .product-form button {
    margin: 10px 0;
    padding: 10px;
    font-size: 14px;
  }
  
  .product-form button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
  }
  .product-form-container h2{
    color: white;
  }
  